.sidebarChannel:hover > h4 {
  color: white;
  background-color: #40464b;
}

.sidebarChannel > h4 {
  display: flex;
  cursor: pointer;
  color: grey;
  padding-left: 15px;
  background-color: #2f3135;
  align-items: center;
}

.sidebarChannel__hash{
  font-size: 30px;
  padding: 8px;
}

.sidebar__voice, .sidebar__profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.sidebar__voiceInfo{
  flex: 1;
  padding: 10px;
}

.sidebar__voiceIcon{
  color: #4fb185;
}

.sidebar__voiceInfo > h3{
  color: #4fb185;
}

.sidebar__voiceInfo > p{
  font-size: smaller;
}

.sidebar__voiceIcons > .MuiSvgIcon-root{
  padding: 10px;
}

.sidebar__profileInfo{
  flex: 1;
  padding: 10px;
}

.sidebar__profileInfo > h3{
  color: white;
}

.sidebar__profileIcons > .MuiSvgIcon-root{
  padding: 10px;
}